:root {
  --main-color-1: #ECBA46;
  --main-color-2: #FFFFFF;
  --main-color-3: #404040;
  --secondary-color-1: #201E1C;
  --secondary-color-2: #343434;
  --secondary-color-3: #746B61;
  --secondary-color-4: #35312D;
  --secondary-color-5: #FFD573;
  --secondary-color-6: #333333;
  --secondary-color-7: #434343;

  /* Цвета заголовка первого уровня в шапке сайта */
  --header-title-font-color: var(--main-color-2);
  /* Цвета текста элементов навигации шапки сайта */
  --header-navigation-item-font-color: var(--main-color-2);
  --header-navigation-item-border-color: rgba(236, 186, 70, 0);
  --header-navigation-item-border-color--hover: rgba(236, 186, 70, 1);
  --header-navigation-item-border-color--focus: rgba(236, 186, 70, 1);
  --header-navigation-item-border-color--active: var(--main-color-2);
  --header-navigation-dropdown-background-color: var(--main-color-2);
  --header-navigation-dropdown-item-font-color: var(--secondary-color-2);
  --header-navigation-dropdown-item-font-color--hover: var(--main-color-1);
  --header-navigation-dropdown-item-font-color--focus: var(--main-color-1);
  --header-navigation-dropdown-item-font-color--active: var(--secondary-color-5);
  --header-button-background-color: rgba(255, 255, 255, 0);
  --header-button-background-color--hover: rgba(255, 255, 255, 1);
  --header-button-font-color: var(--main-color-2);
  --header-button-font-color--hover: var(--main-color-3);
  --header-button-border-color: var(--main-color-2);
  --header-button-border-color--hover: var(--main-color-2);
  --main-section-title-light-font-color: var(--main-color-2);
  --main-section-title-dark-font-color: var(--secondary-color-2);
  --main-section-title-border-color: var(--main-color-1);
  --main-section-wrapper-videos-background-color: var(--secondary-color-4);
  --main-section-carousel-button-background-color: rgba(255, 255, 255, 0);
  --main-section-carousel-button-stroke-color: var(--main-color-1);
  --main-section-carousel-button-stroke-color--hover: var(--main-color-3);
  --main-section-carousel-button-stroke-color--focus: var(--main-color-3);
  --main-section-carousel-button-stroke-color--active: var(--main-color-1);
  --main-section-carousel-item-title-font-color: var(--secondary-color-7);
  --main-section-carousel-item-cost-font-color: var(--main-color-1);
  --main-section-video-button-background-color: var(--main-color-1);
  --main-section-video-button-background-color--hover: var(--main-color-2);
  --main-section-video-button-background-color--focus: var(--main-color-2);
  --main-section-video-button-background-color--active: var(--main-color-1);
  --main-section-video-button-icon-fill: var(--secondary-color-1);
  --main-section-video-button-icon-fill--hover: var(--secondary-color-1);
  --main-section-video-button-icon-fill--focus: var(--secondary-color-1);
  --main-section-video-button-icon-fill--active: var(--main-color-2);
  --main-section-about-description-font-color: var(--secondary-color-2);
  --main-section-about-form-container-background-color: var(--secondary-color-4);
  --main-section-about-form-container-title-font-color: var(--main-color-2);
  --main-section-about-form-input-container-label-font-color: var(--secondary-color-3);
  --main-section-about-form-input-border-color: var(--secondary-color-3);
  --main-section-about-form-input-border-color--hover: var(--main-color-2);
  --main-section-about-form-input-border-color--focus: var(--main-color-2);
  --main-section-about-form-input-border-color--active: var(--main-color-2);
  --main-section-about-form-input-text-font-color: var(--secondary-color-3);
  --main-section-about-form-input-tel-font-color: var(--secondary-color-3);
  --main-section-about-form-input-text-font-color--hover: var(--main-color-2);
  --main-section-about-form-input-tel-font-color--hover: var(--main-color-2);
  --main-section-about-form-input-text-font-color--focus: var(--main-color-2);
  --main-section-about-form-input-tel-font-color--focus: var(--main-color-2);
  --main-section-about-form-input-text-font-color--active: var(--main-color-2);
  --main-section-about-form-input-tel-font-color--active: var(--main-color-2);
  --main-section-about-form-input-submit-background-color: var(--main-color-1);
  --main-section-about-form-input-submit-background-color--hover: var(--secondary-color-5);
  --main-section-about-form-input-submit-background-color--focus: var(--secondary-color-5);
  --main-section-about-form-input-submit-background-color--active: var(--main-color-2);
  --main-section-about-form-input-submit-font-color: var(--secondary-color-6);
  --main-section-about-form-input-submit-font-color--hover: var(--secondary-color-6);
  --main-section-about-form-input-submit-font-color--focus: var(--secondary-color-6);
  --main-section-about-form-input-submit-font-color--active: var(--main-color-1);
  --footer-brand-text-font-color: var(--secondary-color-4);
  --footer-brand-text-font-color--hover: var(--main-color-1);
  --footer-brand-text-font-color--focus: var(--main-color-1);
  --footer-brand-text-font-color--active: var(--secondary-color-1);
  /* Цвета для главных модальных элементов */
  --modal-wrapper-background-color: rgba(0, 0, 0, 0.4);
  --modal-block-background-color: var(--main-color-2);
  --modal-text-font-color: var(--main-color-3);
  /* Цвета для кнопки модального окна */
  --modal-button-background-color: var(--main-color-3);
  --modal-button-background-color--hover: var(--secondary-color-3);
  --modal-button-background-color--focus: var(--main-color-2);
  --modal-button-background-color--active: var(--secondary-color-3);
  --modal-button-font-color: var(--main-color-2);
  --modal-button-font-color--hover: var(--main-color-2);
  --modal-button-font-color--focus: var(--secondary-color-3);
  --modal-button-font-color--active: var(--main-color-2);
  --modal-button-border-color: var(--main-color-3);
  --modal-button-border-color--hover: var(--secondary-color-3);
  --modal-button-border-color--focus: var(--secondary-color-3);
  --modal-button-border-color--active: var(--secondary-color-3);
}